body {
    background-color: #030303;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#main-container {
    text-align: center;
    position: relative;
}

#slider-title {
    font-size: 32px; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 5px; 
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#slider-container {
    text-align: center;
}

#slider img {
    width: 600px;
    height: 350px;
    border-radius: 10px;
}

#btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #007bff; 
}

.next-btn:hover {
    background-color: #007bff; 
}
